/*General Definations*/
$baseHref: '//betashoes.proj-e.com';
  
$fD: "regular";
$uFB:"Uregular";
$fM: "medium";
$fB: "bold";
$tl: "tl";
$marginAuto: 0 auto 0 auto;

$fontSizeDefault: 14px;

$colorDefault: #000;
$title: #4a4a4a;
$text: #f7f7f7;
$sText: #888888;
$lines: #e0e0e0;
$lightBg: #eeeeee;
$vlightBg: #9b9b9b;
$btnColor:#444444;

$dBlue: #0071bb;
$lBlue: #00adee;
$green: #15c060;
$hGreen: #2cc66f;
$dGreen:#12ac56;
$red:#ff1744;
$gold:#f9a51a;
$borderColor:#e0e0e0;

$siteContainerWidth: 1240px;
$productSliderWidth: 1320px;
$siteContainerWidthFull: 100%;
$singleOuter: 1.6rem;

$fontDefault:'dd';
$fontSite:'dd';

//Old Colors
$colorRed: #ED1C24;
$colorRedDark: #D01219;
$marineBlue: #002b5c;
$lightBlue:#0262b7;